{% extends 'base.html' %}
{% block content %}
    {% if session['logged'] %}
        <div class="w3-container w3-center">
            <h1>CREATE A GROUP</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <b>{{ message }}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="w3-row w3-padding-32 w3-center">
            <div class="w3-col s4 w3-center">
                <p></p>
            </div>
            <div class="w3-col s4 w3-center">
                <form action="{{ url_for('meets.create') }}#inizio" method="POST">
                    <div class="w3-justify">
                        <div class="w3-container w3-padding">
                            {{ cform.hidden_tag() }}<br>
                            {{ cform.subject.label }}
                            <span class="w3-right">
                                {{ cform.subject(class='w3-round-large') }}<br>
                            </span>
                        </div>
                        <div class="w3-container w3-padding">
                            {{ cform.email_tutor.label }}
                            <span class="w3-right">
                                {{ cform.email_tutor(class='w3-round-large') }}<br>
                            </span>
                        </div>
                        <div class="w3-container w3-padding">
                            {{ cform.max_members.label }}
                            <span class="w3-right">
                                {{ cform.max_members(class='w3-round-large') }}<br>
                            </span>
                        </div>
                        <div class="w3-container w3-padding">
                            {{ cform.date.label }}
                            <span class="w3-right">
                                {{ cform.date(class='w3-round-large') }}<br>
                            </span>
                        </div>
                        <div class="w3-container w3-padding">
                            {{ cform.hour.label }}
                            <span class="w3-right">
                                {{ cform.hour(class='w3-round-large') }}<br>
                            </span>
                        </div>
                    </div>
                        {{ cform.submit(class="w3-button w3-blue w3-border w3-border-black w3-round-large") }}<br>
                        {% if cform.errors %}
                            <div class="w3-container w3-padding">
                                {% for error in cform.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                </form>
            </div>
        </div>
    {% else %}
        <div class="w3-center">
            <h1>ERROR</h1>
            <p>Before creating a study group you have to sign in</p>
        </div>
    {% endif %}
{% endblock content %}