{% extends 'base.html' %}
{% block content %}
    {% if session['logged'] %}
        <h1 class="w3-center">GROUPS</h1>
        <div class="w3-row-padding w3-container w3-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <b>{{ message }}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="w3-padding-64" style="overflow-x:auto;">
            <table align="center" cellspacing="5">
                <tr>
                    <td><b>Id Group</b></td>
                    <td><b>University</b></td>
                    <td><b>Subject</b></td>
                    <td><b>Email Tutor</b></td>
                    <td><b>Email Headgroup</b></td>
                    <td><b>Max Members</b></td>
                    <td><b>Num Participants</b></td>
                    <td><b>Day</b></td>
                    <td><b>Hour</b></td>
                </tr>
                {% for i in meet %}
                    {% if i.max_members > i.num_participants and i.date >= today %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.university }}</td>
                            <td>{{ subject[loop.index0].subject }}</td>
                            <td>{{ i.email_tutor }}</td>
                            <td>{{ i.email_headgroup }}</td>
                            <td>{{ i.max_members }}</td>
                            <td>{{ i.num_participants }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.hour }}</td>
                            <td><a class="w3-button w3-blue w3-border w3-border-black w3-round-large" href="{{ url_for('meets.join', id=i.id) }}#inizio">Join</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="w3-center">
            <h1>ERROR</h1>
            <p>Before seeing the study groups you have to sign in</p>
        </div>
    {% endif %}
{% endblock content %}