{% extends 'base.html' %}
{% block content %}
    {% if session['logged'] %}
        <table align="center" cellspacing="5">
            <tr ><th colspan="10">GROUPS</th></tr>
            <tr>
                <td><b>id group</b></td>
                <td><b>university</b></td>
                <td><b>subject</b></td>
                <td><b>email tutor</b></td>
                <td><b>email headgroup</b></td>
                <td><b>max members</b></td>
                <td><b>num participants</b></td>
                <td><b>day</b></td>
                <td><b>hour</b></td>
            </tr>
            {% for i in mymeets %}
                {% if i.date > today %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.university }}</td>
                        {% for k in subject %}
                            {% if k.subject_id == i.subject_id %}
                                <td>{{ k.subject }}</td>
                            {% endif %}
                        {%  endfor %}
                        <td>{{ i.email_tutor }}</td>
                        <td>{{ i.email_headgroup }}</td>
                        <td>{{ i.max_members }}</td>
                        <td>{{ i.num_participants }}</td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.hour }}</td>
                        <td><a href="{{ url_for('select', id=i.id) }}">Select</a></td>
                    </tr>

    {% else %}
        <div class="w3-center">
            <h1>ERROR</h1>
            <p>Before seeing the study groups you have to sign in</p>
        </div>
    {% endif %}
{% endblock content %}