{% extends 'base.html' %}
{% block content %}
    {% if session['logged'] %}
        <div class="w3-container w3-center">
            <h3>Rating the tutor</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <b>{{ message }}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('rate_tutor') }}#inizio" method="POST">
                {{ rtform.hidden_tag() }}<br>
                <div class="w3-xlarge">
                    {% for subfield in rtform.rating %}
                        {{ subfield }}{{ subfield.label }}
                    {% endfor %}
                </div>
                <br>
                <div class="w3-container w3-padding">
                    {{ rtform.email_tutor.label }} {{ rtform.email_tutor(class="w3-round-large") }}<br>
                </div>
                <div class="w3-container w3-padding">
                    {{ rtform.submit(class="w3-button w3-blue w3-border w3-border-black w3-round-large") }}
                </div>
                {% if rtform.errors %}
                    <div class="w3-container w3-padding">
                        {{ rtform.errors }}
                    </div>
                {% endif %}
            </form>
        </div>
    {% else %}
        <div class="w3-center">
            <h1>ERROR</h1>
            <p>Before rating you have to sign in</p>
        </div>
    {% endif %}
{% endblock content %}