{% extends 'base.html' %}
{% block content %}
    <table align="center" cellspacing="5">
        <tr>
            <td><b>id group</b></td>
            <td><b>university</b></td>
            <td><b>subject</b></td>
            <td><b>email tutor</b></td>
            <td><b>email headgroup</b></td>
            <td><b>max members</b></td>
            <td><b>num participants</b></td>
            <td><b>day</b></td>
            <td><b>hour</b></td>
        </tr>
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.university }}</td>
            <td>{{ subject.subject }}</td>
            <td>{{ group.email_tutor }}</td>
            <td>{{ group.email_headgroup }}</td>
            <td>{{ group.max_members }}</td>
            <td>{{ group.num_participants }}</td>
            <td>{{ group.date }}</td>
            <td>{{ group.hour }}</td>
            <td><a href="{{ url_for('abandon', id=group.id) }}">Abandon</a></td>
        </tr>
    </table>
    <div class="w3-container">
        {% for i in posts %}
            <p>{{ i }}</p>
        {% endfor %}
    </div>
    <form action="{{ url_for('select', id=group.id) }}" method="post">
        <div class="w3-container w3-center">
            {{ jform.chat() }}<br>
            {{ jform.submit() }}
        </div>
    </form>
{% endblock content %}