<!DOCTYPE html>
<html lang="en">
<head>
<title>Unibuddy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-graduation-cap {font-size:200px}
        .back {background: url("https://tse3.mm.bing.net/th?id=OIP.ZfMS_tvxOv30i1wlDTW3iwHaE8&pid=Api&P=0&w=296&h=198");
            background-repeat: no-repeat; background-position: center center; background-size: 100%;}
    </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      {% if session['logged'] %}
          <a href="{{ url_for('logout') }}#inizio" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Logout</a>
          <a href="{{ url_for('groups') }}#inizio" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Groups</a>
          <a href="{{ url_for('mygroups') }}#inizio" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">My groups</a>
          <a href="{{ url_for('create') }}#inizio" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Create a group</a>
          <a href="{{ url_for('tutors') }}#inizio" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Tutors</a>
          <div class="w3-dropdown-hover">
              <button class="w3-button">Rate</button>
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                  <a href="{{ url_for('rate') }}#inizio" class="w3-bar-item w3-button">The System</a>
                  <a href="{{ url_for('rate_tutor') }}#inizio" class="w3-bar-item w3-button">A tutor</a>
              </div>
          </div>
      {% else %}
          <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
      {% endif %}
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      {% if session['logged'] %}
          <a href="{{ url_for('logout') }}#inizio" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
          <a href="{{ url_for('groups') }}#inizio" class="w3-bar-item w3-button w3-padding-large">Groups</a>
          <a href="{{ url_for('mygroups') }}#inizio" class="w3-bar-item w3-button w3-padding-large">My groups</a>
          <a href="{{ url_for('create') }}#inizio" class="w3-bar-item w3-button w3-padding-large">Create a group</a>
          <a href="{{ url_for('tutors') }}#inizio" class="w3-bar-item w3-button w3-padding-large">Tutors</a>
          <div class="w3-dropdown-hover">
              <button class="w3-button">Rate</button>
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                  <a href="{{ url_for('rate') }}#inizio" class="w3-bar-item w3-button">The System</a>
                  <a href="{{ url_for('rate_tutor') }}#inizio" class="w3-bar-item w3-button">A tutor</a>
              </div>
          </div>
      {% else %}
          <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
      {% endif %}
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-blue w3-center " style="padding:128px 16px; ">
    <img class="w3-round-xlarge" src="{{ url_for('static', filename='images/logo.png') }}" width="450" height="250" alt="Website Logo"/>
    {% if session['logged'] %}
        <div class="w3-display-bottomcenter w3-margin">
            <h3>{{ session['name'] }} {{ session['surname'] }}</h3>
        </div>
    {% else %}
        <div class="w3-container">
            <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-round-large">
                <a href="{{ url_for('login') }}" style="text-decoration: none">Get Started</a>
            </button>
        </div>
    {% endif %}
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Unibuddy</h1>
      <h5 class="w3-padding-32">Do you find difficult to study in your first experience at University? <br>
          Do you find difficult in studying alone? Do you prefer to study in groups?
      </h5>

      <p class="w3-text-grey">We have the solution to your problems: UniBuddy <br>
          UniBuddy is a platform in which students can organize groups to study the same subjects and confront themselves in the same problems.
          The platform was created as a site dedicated to the university students of the Politecnico to encourage an initial interaction between off-site students who may have difficulty in finding somebody to study and socialize with. </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-blue"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
        <i class="fa fa-graduation-cap w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h5 class="w3-padding-32">Groups have the possibility to find a place because they can book rooms in universities or use the multiple study rooms scattered around the city.
          In each group there will be the opportunity to have tutor that has a very good knowledge in that subject in order to assure a good study and provide help assuring that you'll learn thanks to the meeting. Tutors are scholarship students that have received a good mark in the subject requested by the group and will be provided directly from Politecnico di Torino.
          Unibuddy’s goal is to help students find answers to their problems and get inspired through respectful communication and strong sense of group commitment, aiming to help students understand the mechanics of the university environment. </h5>
    </div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-32">
  <div class="w3-half w3-section">
    <span class="w3-badge w3-blue w3-xlarge">{{ num_groups }}</span><br>
    Meetings
  </div>
  <div class="w3-half w3-section">
    <span class="w3-badge w3-blue w3-xlarge">{{ average }}</span><br>
    Rated
  </div>
</div>

<div class="w3-container w3-grey w3-center w3-opacity w3-padding-16">
    <h2>An investment in knowledge always pays the best interest</h2>
    <p>-Benjamin Franklin-</p>
</div>

<!-- Footer -->
<footer class="w3-container w3-grey w3-opacity w3-padding-64">
    <p>For any problem, <br>
       Do not hesitate to contact us: <br>
       unibuddywebsite@gmail.com
    </p>
    <i class="fa fa-facebook-square w3-text-indigo" style="font-size:36px"></i>
    <i class="fa fa-instagram w3-text-pink" style="font-size:36px"></i>
    <i class="fa fa-twitter w3-text-blue" style="font-size:36px"></i>
    <i class="fa fa-linkedin-square w3-text-indigo" style="font-size:36px"></i>

</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
