input[type="radio"] { display: none; }
input[type="radio"] + label:after { content: none; }
input[type="radio"] + label { font-family: 'FontAwesome'; }
input[type="radio"] + label:before {
    background-color: transparent;
    border: none;
    color: #ffc107;
    content: '\f005';
    font-size: 1.33333333em;
    transition: none;
}

input[type="radio"]:checked ~ label:before {
    background-color: transparent;
    border: none;
    color: #607d8b;
}

.post{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.t{overflow-x: auto}

input[type="radio"]:checked + label:before { color: #ffc107; }
input[type="radio"] + label:hover ~ input + label:before { opacity: 0.6}

.header_start{
    background-image: url(images/back_start.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding: 128px 16px;
}

.header_base{
    background-image: url(images/back_start.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding: 128px 5px;
}

@media screen and (max-width: 600px){
    .header_start{
        background: steelblue;
        padding: 128px 16px;
    }

    .header_base{
        background: steelblue;
        padding: 128px 5px;
    }

}
